html
  head
    title!= title
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    
    script(type="text/javascript" src="/public/xhr.js")
    script(type="text/javascript" src="https://www.gstatic.com/charts/loader.js")
    script(type="text/javascript" src="/public/cahrt.js")

  body
    .container
      #curve_chart(style="width: 900px; height: 500px")
      table.table
        thead
        tbody
        for object in objects
          tr
            for subobject in object
              td= subobject